<form method="POST" action="/register">
    <div>
        <label>User Name:</label>
        <input type="text" name="userName" value="<%= userName %>" required>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="email" value="<%= email %>" required>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" required>
    </div>
    <div>
        <label>Confirm Password:</label>
        <input type="password" name="password2" required>
    </div>
    <button type="submit">Register</button>

    <% if (errorMessage) { %>
        <div class="alert alert-error">
            <p><%= errorMessage %></p>
        </div>
    <% } %>

    <% if (successMessage) { %>
        <div class="alert alert-success">
            <p><%= successMessage %></p>
        </div>
        <a href="/login" class="btn btn-success">Proceed to Log in</a>
    <% } %>
</form>
